body{

    background: lightslategray;
}
H1{
    margin-right: 200px;
    margin-left: 400px;
    font-family: cursive;


}
header {

    margin-top: 200px;
    margin-right: 200px;
    margin-left: 400px;;


}
form{
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
footer
{
    margin-top: 200px;
    margin-left: 600px;
    margin-right: 800px;
    font-family: cursive;
}